{% extends 'defaultLayout.html.twig' %}

{% block currentEtudiant %} class="current_page_item" {% endblock %}

{% block content %}

<br/>
<section id="etudiant"></section>
<header style=" background: url('{{asset ('frontt/images/banner.jpg')}}');" class="entry-header">
  <div class="grid grid-pad">
    <div class="col-1-1">
      <h1  class="entry-title"> Stage</h1>        	</div><!-- .col-1-1 -->
    </div><!-- .grid -->
  </header>

  <div class="grid grid-pad">



      <div class="works">
        <!--<a href="https://modernthemes.net/wordpress-demo/business/work/wordpress-camp/"><img width="400" height="300" src="https://modernthemes.net/wordpress-demo/business/wp-content/uploads/sites/7/2014/08/wordpress-camp-400x300.jpg" class="attachment-client size-client wp-post-image" alt="wordpress-camp"></a>
        --><h1 class="works-entry-title">Stage n {{ id}}</h1>
      </div><!-- works -->



    <br />

  </div>




  {% endblock %}
